* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #ff1b68;
  height: 75px;
}

header h1 {
  text-align: center;
  color: azure;
  padding: 10px;
}

main.container {
  width: 850px;
  margin: 120px auto;
  padding: 20px;
  height: 200px;
}

footer {
  background-color: #ff1b68;
  color: azure;
  padding: 20px;
  text-align: center;
}

.main-section-header {
  margin-top: 15px;
}

.button-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.btn {
  height: 85px;
  width: 85px;
  border: 5px solid lightpink;
  border-radius: 5px;
  background-color: mediumseagreen;
  color: whitesmoke;
}

.result-section {
  margin-top: 20px;
}
